.navsec{
    background-color: #fff;
    box-shadow: 0 0 7px 0 #aaa;
}
.navbar-toggler{
    border: none;
}
button:focus{
    box-shadow: none !important;
}
.navbar-toggler span{
    width: 40px;
    height: 40px;
}
@media (max-width:999px) and ( min-width:768px){
    .navsec .btn{
        display: none;
    }
}
@media (max-width:414px){
    .navsec img{
        width:150px;
    }
}